@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&family=Ubuntu:wght@300;500&display=swap");
body {
  margin: 0;
  background-image: url(./bgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family:Helvetica, sans-serif;
}
#container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  width: 90%;               /* Takes up 90% of the screen on mobile */
  max-width: 600px;         /* Doesn't grow larger than 600px on big screens */
  margin: auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box; /* Includes padding inside width */
}
#teamContainer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  width: 50%;               /* Takes up 90% of the screen on mobile */
  max-width: 600px;         /* Doesn't grow larger than 600px on big screens */
  margin: auto;
  padding: 1rem;
  text-align: center;
  box-sizing: border-; /* Includes padding inside width */
}
#Font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
::selection {
  background-color: #235680;
  color:white; 
}

